# Telegram Bot Configuration
BOT_TOKEN=8588591372:AAE4v-ocs0L4O73yFYPtSTFquuD4GuexqCc
OWNER_CHAT_ID=8627624927

# Server Configuration
PORT=3000
NODE_ENV=production

# Security
OWNER_USERNAME=your_telegram_username
